<div data-role="header" data-position="fixed">
  <div data-role="navbar" data-iconpos="top">
    <ul>
      <li><a href="request.html" data-role="tab" data-icon="comment" data-prefetch="{{ jqm.prefetch }}" data-transition="{{ jqm.transition }}">Help!</a></li>
      <li><a href="monitor.html" data-role="tab" data-icon="eye" data-prefetch="{{ jqm.prefetch }}" data-transition="{{ jqm.transition }}">Monitor</a></li>
      <li><a href="settings.html" data-role="tab" data-icon="gear" data-prefetch="{{ jqm.prefetch }}" data-transition="{{ jqm.transition }}">Settings</a></li>
    </ul>
  </div>
</div>
